@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
}
:root{
    /* color */
    --hijautua: #1A5319;
    --hijausedang: #508D4E;
    --hijaumuda: #80AF81;

    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(0);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(50%,10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%,20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
    
    --item5-transform: translate(120%,30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}

::-webkit-scrollbar {
    height: .1rem;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--hijaumuda);
}

::-webkit-scrollbar-thumb {
    background-color: var(--hijautua);
    border-radius: 5rem;
}
.container-fluid{
    --bs-gutter-x: 0;
}
.logo {
    font-size: 2rem;
    color: #12f7ff;
    text-decoration: none;
    font-weight: 600;
}

ul.navlist {
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1rem;
}
nav{
    position: fixed;
    z-index: 1002;
}

nav li a {
    
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 12px;
    border: 2px solid #A2CA71;
    border-radius: 15px;
    transition: all .3s ease;
    text-align: center;
}
.nav-link{
    border: 2px solid #A2CA71;
    color: #8D493A;
}

.nav-link:hover,
.nav-link.active {
    box-shadow: 0 0 1rem var(--hijautua);
    background: #A2CA71;
    color: #fff;
}
nav ul {
    right: 0;
}
@media screen and (max-width: 991px){
    nav{
        background-color: white;
    }
}
