@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
}
:root{
    --birdong: #2A1A5E;
    --orenterang: #F45905;
    --orenpastel: #FB9224;
    --kuning: #FBE555;
}
body{
    width: 100%;
    height: 100%;
    background-color: #006797d2;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-size:cover;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items:center;
    padding:0px 40px;
}
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    margin-left: -100px;
    transition: 0.5s ease;
}

header .plant {
    color: #FB9224;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #2A1A5E;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #FB9224;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover,
header .navigation .navigation-items a:hover:before {
    color: #FB9224;
}

header .navigation .navigation-items a:hover:before {
    background: #FB9224;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    filter: blur(50%);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: filter 0.3s ease;
}

.dropdown-content a:hover {
    filter: blur(30%);
    color: #FB9224;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
    text-align: center;
    margin: auto;
    max-width: 40vh;
    padding-block: 24px;
    margin-top: 4%;
    margin-bottom: 3%;
    border-bottom: 2px dashed var(--primary);
    color: var(--primary);
    font-size: 24px;
    letter-spacing: 2px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.team {
    width: 240px;
    height: 360px;
    overflow: hidden;
    margin: 10px;
    border: 2px solid var(--primary);
    border-radius: 16px;
    position: relative;
    background-color: #ffffff34;
}

.team::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(100%);
}

.team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 360px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
    transition: all 0.3s ease-in-out;

}

.team:hover img {
    width: 120px;
    height: 180px;
    border: 2px solid var(--primary);
    left: 60px;
    top: 45px;
}

.team .data {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: #363636;
    padding: 12px;
    border-top: 6px solid var(--primary);
    border-radius: 50% 50% 0px 0px;
    padding-top: 60px;
    text-align: center;
    transform: scale(2);
    transition: all 0.2s ease-out;
}

.team .nama {
    font-size: 18px;
    padding: 12px;
    margin-bottom: -10px;
    text-transform: capitalize;
}

.team .title {
    color: grey;
    text-transform: capitalize;
}

.team:hover .data {
    transform: scale(1);
}

.team .sosmed {
    padding-block: 12px;
    font-size: 18px;
}

.team .sosmed i {
    display: inline-block;
    width: 36px;
    padding: 8px;
    background-color: #ededed;
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
}

.team .sosmed i:hover {
    color: var(--birdong);
    background-color: #363636;
}
