@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --birdong: #2A1A5E;
    --orenterang: #F45905;
    --orenpastel: #FB9224;
    --kuning: #FBE555;
    --hijautua: #1A5319;
    --hijausedang: #508D4E;
    --hijaumuda: #80AF81;
    --coklatmuda:#8D493A;
    --hijau: #A2CA71;

}
body{
    width: 100%;
    height: 100%;
    background-color: #cff5a0;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-size:cover;
}

header {
    padding: 25px 10%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1001;
} 

.logo {
    font-size: 2rem;
    color: #12f7ff;
    text-decoration: none;
    font-weight: 600;
}

ul.navlist {
    display: flex;
    align-items: center;
}

.navlist li {
    margin-left: 1rem;
}

.navlist li a {
    color: #8D493A;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 12px;
    border: 2px solid #A2CA71;
    border-radius: 25px;
    transition: all .3s ease;
}

.navlist li a:hover,
.navlist li a.active {
    box-shadow: 0 0 1rem var(--hijautua);
    background: #A2CA71;
    color: #1d002c;
}

/* start Team */

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*==Team-section===========================*/
#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    min-height: 100vh;
    margin: auto;
    margin-top: 3%;
}
.team-slider-box{
    width: 100%;
    padding: 20px;
    user-select: none;
}
.t-s-img{
    position: relative;
    height: 300px;
}
.t-s-img::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
.t-s-img img{
    filter: grayscale(0.5);
    width: 90%;
    height: 90%;
    object-fit: contain;
    object-position: bottom;
    display: flex;
}
.t-s-text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t-s-text strong,
.t-s-text a{
    color: var(--birdong);
    font-weight: 700;
    font-size: 1.1rem;
}
.t-s-text span{
    margin-top: 3px;
    color: #919191;
    font-size: 0.8rem;
}
.team-social{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-social a{
    margin: 0px 5px;
    color: var(--hijautua);
    transition: all ease 0.3s;
    font-size: 0.9rem;
}
.team-social a:hover{
    color: #0617ff;
}
.swiper {
    max-width: 730px;
    width: 90%;
}

.swiper-slide {
    max-width: 300px !important;
    width: 90%;
    opacity: 0.2;
    margin: 50px 0px;
    margin-top: 0px;
}

.swiper-slide-active{
    border: 10px solid var(--hijau);
    opacity: 1;
}

.team-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101; 
}

.team-heading h3{
    color: var(--coklatmuda);
    font-size: 3rem;
    margin-top: -20px;
    margin-bottom: 20px;
}

@media(max-width:724px){
    .team-heading h3{
        font-size: 2.6rem;
    }
}

@media(max-width:300px){
    .t-s-img{
        height: 280px;
    }
}

/* bubble */
.bubbles{
    position: relative;
    display: flex;
    margin-left: 80px;
}

.bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    background: #ffffff;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #b0dde844,
    0 0 50px #d1d6ea,
    0 0 100px #81c09d;
    animation: animate 15s linear infinite;
    animation-duration: calc(115s / var(--i));
}

.bubbles span:nth-child(even)
{
    background: #ffffff;
    box-shadow: 0 0 0 10px #e2a2b944,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}